h1{
    position: relative;
        top: 50px;
        left: 100px;
    font-size: 4em;
    font-family:monospace ;
}

h2{
    position: relative;
        top: -240px;
        left: 250px;
    font-size: 4em;
    font-family:monospace ;
}


.navbar ul{ 
    list-style-type: none;
    background-color: rgb(82, 82, 82);
    font-size: 2em;
    padding: -10px;
    margin: 0px;
    text-align: right;
    overflow: hidden;
    font-family: impact;
}

.navbar a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 50px;
    display: block
}

.navbar a:hover{
    background-color:rgb(0, 119, 255) 
}
.navbar li{
    float: right;
}

.circle-1 {
    position: relative;
    top: -580px;
    left: 1300px;
    
    height: 380px;
    width: 380px;
    background-color: rgb(13, 119, 218);
    border-radius: 5000px;
}
.circle-2 {
    position: relative;
    top: 540px;
    left: -1px;

    height: 70px;
    width: 360px;
    border: 5px solid rgb(13, 119, 218);
    border-radius: 5000px;
}
.circle-3 {
    position: relative;
    top: -100px;
    left: -5px;

    height: 70px;
    width: 360px;
    border: 5px solid rgb(13, 119, 218);
    border-radius: 5000px
}


.para1{
    position: relative;
        top: -558px;
        left: 1367px;
    font-size: 3em;
    font-family: Calibri;
}
.para2{
    position: relative;
        top: -570px;
        left: 1403px;
    font-size: 3em;
    font-family: Calibri;
}
.para3{
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}
.para4{ 
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}
.para5{
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}
.para6{
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}
.para7{
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}
.para8{
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}
.para9{
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}
.para10{
    position: relative;
        top: -30px;
        left: 100px;
    font-size: 150%;
    font-family: arial;
}





button{
    text-align: center;
    font-size: 2em;
    position: relative;
    top: -1030px;
    left: 1230px;
    font-family: impact;
}
.bitmoji{
    position: relative;
    top: -1350px;
    left: 1266px;
}
.Logo{
    position: relative;
    top: -1680px;
    left: -310px;
}